body,
html
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2{
    font-size: 30px;
    font-family: "Signika Negative", sans-serif;
    color:rgb(228, 128, 128)
}

h3{
    font-size: 25px;
    font-family: "Comfortaa", sans-serif;
    color: rgb(187, 146, 240);
}

body{
    background-image: url(img/wallpaper.jpg);
}

.title{
    font-size: 50px;
    text-align: center;
    color: rgb(245, 132, 211);
    font-family: "Concert One", sans-serif;
}

.container{
    width: 90vw;
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card{
    height: 40rem;
    width: 30rem;
    min-width: 500px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 80px;
    border-width: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url("img/pinkbackground.jpg");
    background-size: cover;
    margin-bottom: 50px;
}

.card-img{
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.card-header{
    margin-top: 1.2rem;
}

.card-price{
    margin-bottom: 1.2rem;
}